---
import Cards from "../components/Card.astro";

const projects = [
  {
    id: 1,
    title: "Dragon Ball Z 1",
    href: "Link de GitHub",
    img: "/pro1.png",
    technologies: ["html", "css"],
  },
  {
    id: 2,
    title: "Dragon Ball Z 2",
    href: "Link de GitHub",
    img: "/pro2.png",
    technologies: ["vue", "ts"],
  },
  {
    id: 3,
    title: "Dragon Ball Z 3",
    href: "Link de GitHub",
    img: "/pro2.png",
    technologies: ["react", "js"],
  },
];
---

<section id="proyectos" class="bg-[#101112]">
  <h1 class="text-blue-700 text-xl font-bold px-15 py-5 subtitle">
    Mis proyectos
  </h1>

  <div class="grid grid-cols-2 gap-5 mx-10">
    {
      projects.map((project) => (
        <Cards
          title={project.title}
          href={project.href}
          img={project.img}
          technologies={project.technologies}
        />
      ))
    }
  </div>
</section>
