<section id="servicios">
  <div class="p-15 bg-[#2C2E2D]">
    <div class="pb-5">
      <h1 class="text-2xl font-bold text-blue-600 subtitle">Mis servicios</h1>
      <div class="w-[60px] bg-blue-600 h-[3px]"></div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-center"
    >
      <!-- Servicio 1 -->
      <div
        class="bg-[#1c1e1d] p-4 text-center rounded-xl shadow-lg hover:scale-105"
      >
        <img
          src="robot.png"
          alt="Chatbot Inteligente"
          class="mx-auto mb-2 w-16 h-16"
        />
        <h2 class="text-blue-700 font-bold mb-2 subtitle">
          Desarrollo de Chatbots Inteligentes
        </h2>
        <p class="text-white info">
          Automatizo conversaciones en WhatsApp, o Web mediante chatbots
          conectados con APIs o bases de datos.
        </p>
      </div>

      <!-- Servicio 2 -->
      <div
        class="bg-[#1c1e1d] p-4 text-center rounded-xl shadow-lg hover:scale-105"
      >
        <img
          src="interface.png"
          alt="Interfaz de Usuario"
          class="mx-auto mb-2 w-16 h-16"
        />
        <h2 class="text-blue-700 font-bold mb-2 subtitle">
          Diseño de Interfaces de Usuario (UI)
        </h2>
        <p class="text-white info">
          Diseño interfaces limpias, modernas y responsivas en Flutter o React,
          priorizando la experiencia del usuario y el rendimiento en
          dispositivos móviles y web.
        </p>
      </div>

      <!-- Servicio 3 -->
      <div
        class="bg-[#1c1e1d] p-4 text-center rounded-xl shadow-lg hover:scale-105"
      >
        <img src="web.png" alt="App Web/Móvil" class="mx-auto mb-2 w-16 h-16" />
        <h2 class="text-blue-700 font-bold mb-2 subtitle">
          Aplicaciones Web y Móviles
        </h2>
        <p class="text-white info">
          Desarrollo aplicaciones escalables con tecnologías como Flutter,
          React, Node.js y Firebase.
        </p>
      </div>

      <!-- Servicio 4 -->
      <div
        class="bg-[#1c1e1d] p-4 text-center rounded-xl shadow-lg hover:scale-105"
      >
        <img
          src="database.png"
          alt="Bases de datos"
          class="mx-auto mb-2 w-16 h-16"
        />
        <h2 class="text-blue-700 font-bold mb-2 subtitle">
          Integración de Bases de Datos y Notificaciones Push
        </h2>
        <p class="text-white info">
          Integro autenticación, consultas optimizadas y notificaciones en
          tiempo real según las necesidades del proyecto.
        </p>
      </div>

      <!-- Servicio 5 -->
      <div
        class="bg-[#1c1e1d] p-4 text-center rounded-xl shadow-lg hover:scale-105"
      >
        <img
          src="calidad.png"
          alt="Calidad de Software"
          class="mx-auto mb-2 w-16 h-16"
        />
        <h2 class="text-blue-700 font-bold mb-2 subtitle">
          Control de Calidad de Software
        </h2>
        <p class="text-white info">
          Aplico buenas prácticas de testing, revisiones de código y
          validaciones funcionales para asegurar que el software sea estable y
          eficiente
        </p>
      </div>

      <div
        class="bg-[#1c1e1d] p-4 text-center rounded-xl shadow-lg hover:scale-105"
      >
        <img
          src="configuraciones.png"
          alt="Mantenimiento Web/App"
          class="mx-auto mb-2 w-16 h-16"
        />
        <h2 class="text-blue-700 font-bold mb-2 subtitle">
          Soporte Técnico y Mantenimiento Web/App
        </h2>
        <p class="text-white info">
          Realizo mantenimiento, corrección de errores y mejoras continuas en
          sitios web y aplicaciones móviles o de escritorio para asegurar su
          correcto funcionamiento y evolución tecnológica.
        </p>
      </div>
    </div>
  </div>
</section>
