<section id="skills">
  <div class="p-15 bg-[#2C2E2D]">
    <div class="grid grid-cols-3 grid-rows-2 gap-4">
      <div class="bg-[#1c1e1d] p-4 justify-center text-center items-center">
        <img src="" alt="" srcset="" />
        <h2 class="text-blue-700 font-bold">Habilidad</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
          placeat, repudiandae laboriosam laborum maxime fuga repellendus cumque
          quo, molestias aliquid magni aliquam possimus iure minus, culpa
          deserunt perspiciatis? Et, commodi!
        </p>
      </div>
      <div class="bg-[#1c1e1d] p-4 justify-center text-center items-center">
        <img src="" alt="" srcset="" />
        <h2 class="text-blue-700 font-bold">Habilidad</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
          placeat, repudiandae laboriosam laborum maxime fuga repellendus cumque
          quo, molestias aliquid magni aliquam possimus iure minus, culpa
          deserunt perspiciatis? Et, commodi!
        </p>
      </div>
      <div class="bg-[#1c1e1d] p-4 justify-center text-center items-center">
        <img src="" alt="" srcset="" />
        <h2 class="text-blue-700 font-bold">Habilidad</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
          placeat, repudiandae laboriosam laborum maxime fuga repellendus cumque
          quo, molestias aliquid magni aliquam possimus iure minus, culpa
          deserunt perspiciatis? Et, commodi!
        </p>
      </div>
      <div class="bg-[#1c1e1d] p-4 justify-center text-center items-center">
        <img src="" alt="" srcset="" />
        <h2 class="text-blue-700 font-bold">Habilidad</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
          placeat, repudiandae laboriosam laborum maxime fuga repellendus cumque
          quo, molestias aliquid magni aliquam possimus iure minus, culpa
          deserunt perspiciatis? Et, commodi!
        </p>
      </div>
      <div class="bg-[#1c1e1d] p-4 justify-center text-center items-center">
        <img src="" alt="" srcset="" />
        <h2 class="text-blue-700 font-bold">Habilidad</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
          placeat, repudiandae laboriosam laborum maxime fuga repellendus cumque
          quo, molestias aliquid magni aliquam possimus iure minus, culpa
          deserunt perspiciatis? Et, commodi!
        </p>
      </div>
      <div class="bg-[#1c1e1d] p-4 justify-center text-center items-center">
        <img src="" alt="" srcset="" />
        <h2 class="text-blue-700 font-bold">Habilidad</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
          placeat, repudiandae laboriosam laborum maxime fuga repellendus cumque
          quo, molestias aliquid magni aliquam possimus iure minus, culpa
          deserunt perspiciatis? Et, commodi!
        </p>
      </div>
    </div>
  </div>
</section>
