<section id="sobre-mi">
  <div class="w-full bg-red-50 h-[2px]"></div>
  <div class="p-5 grid md:grid-cols-2 grid-cols-1 bg-[#101112] text-white">
    <div class="flex justify-center items-center">
      <img src="./yo.webp" alt="" srcset="" width="200px" class="rounded-2xl" />
    </div>
    <div class="flex flex-col justify-center p-10 gap-2">
      <h1 class="text-xl font-bold text-blue-600">Descubre</h1>
      <h1 class="text-3xl font-bold text-blue-600">Sobre mí</h1>

      <div class="w-[60px] bg-blue-600 h-[3px]"></div>

      <p>
        Soy un apasionado en el desarrollo de software de calidad. Experiencia
        en el desarrollo de sitios web. También disfruto aprender sobre el área
        de Inteligencia Artificial y Ciber seguridad. Enfrento desafíos y me
        gusta estar constantemente aprendiendo.
      </p>

      <div class="border-2 p-3 my-2">
        <div class="grid grid-cols-2">
          <div>
            <ul>
              <li><span class="font-bold">Nombre:</span> Ismael Simbaña</li>
              <li><span class="font-bold">Teléfono:</span> +593 97 894 1377</li>
              <li><span class="font-bold">Experiencia:</span> + 1 año</li>
            </ul>
          </div>
          <div>
            <ul>
              <li><span class="font-bold">Edad:</span> 23</li>
              <li><span class="font-bold">Dirección:</span> Quito - Ecuador</li>
              <li><span class="font-bold">Freenlance:</span> Disponible</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full bg-red-50 h-[2px]"></div>
</section>
