<section id="sobre-mi">
  <div class="p-5 grid md:grid-cols-2 grid-cols-1 bg-[#282A29] text-white">
    <div class="flex justify-center items-center">
      <img src="./yo.webp" alt="" srcset="" width="200px" class="rounded-2xl" />
    </div>
    <div class="flex flex-col justify-center p-10 gap-2">
      <h1 class="text-xl font-bold text-blue-600 subtitle">Descubre</h1>
      <h1 class="text-3xl font-bold text-blue-600 subtitle">Sobre mí</h1>

      <div class="w-[60px] bg-blue-600 h-[3px]"></div>

      <p class="info">
        Soy un desarrollador Full Stack apasionado por crear software de
        calidad. Tengo experiencia en el desarrollo de aplicaciones web y
        móviles, Considero cada desafío como una oportunidad para seguir
        creciendo profesional y personalmente.
      </p>

      <div class="border-2 p-3 my-2">
        <div class="grid grid-cols-2">
          <div>
            <ul>
              <li class="info">
                <span class="font-bold">Nombre:</span> Ismael Simbaña
              </li>
              <li class="info">
                <span class="font-bold">Teléfono:</span> +593 97 894 1377
              </li>
              <li class="info">
                <span class="font-bold">Experiencia:</span> + 1 año
              </li>
            </ul>
          </div>
          <div>
            <ul>
              <li class="info"><span class="font-bold">Edad:</span> 23</li>
              <li class="info">
                <span class="font-bold">Dirección:</span> Quito - Ecuador
              </li>
              <li class="info">
                <span class="font-bold">Freenlance:</span> Disponible
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col text-center justify-center items-center bg-blue-800 w-[200px] rounded-sm py-2"
      >
        <a
          href="/CV_SIMBAÑA_ISMAEL_INGENIERO_DE_SOFTWARE.pdf"
          download
          class="hover:underline subtitle"
        >
          Descargar CV
        </a>
      </div>
    </div>
  </div>
</section>
