<section id="escribeme" class="isolate bg-[#2C2E2D] lg:px-8 px-15 py-2">
  <div class="py-5">
    <h1 class="text-blue-700 text-2xl font-bold subtitle">Contactamé</h1>
    <div class="w-[60px] bg-blue-600 h-[3px]"></div>
  </div>

  <div class="bg-white rounded-xl mx-auto w-full sm:w-3/4 md:w-1/2">
    <form
      action="https://formsubmit.co/alexanderpilataxi232002@gmail.com"
      method="POST"
    >
      <div class="flex flex-col p-3 info">
        <div>
          <label for="first-name" class="block text-sm/6 font-bold"
            >Nombres</label
          >
          <div class="mt-2.5">
            <input
              type="text"
              name="first-name"
              id="first-name"
              autocomplete="given-name"
              class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
            />
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="email" class="block text-sm/6 font-bold">Email</label>
          <div class="mt-2.5">
            <input
              type="email"
              name="email"
              id="email"
              autocomplete="email"
              class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
            />
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="message" class="block text-sm/6 font-bold">Mensaje</label>
          <div class="mt-2.5">
            <textarea
              name="message"
              id="message"
              rows="4"
              class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
            ></textarea>
          </div>
        </div>
        <div class="mt-5 flex justify-center items-center text-white font-bold">
          <button
            type="submit"
            class="bg-blue-800 w-[200px] rounded-sm py-2 hover:scale-105 hover:underline"
            >Enviar</button
          >
        </div>
      </div>
    </form>
  </div>
</section>
