<section id="home">
  <div
    class="min-h-screen flex justify-center flex-row p-8 bg-[url('https://cdn.sanity.io/images/3do82whm/next/b88e6888748d4209f8c6746ac5507c673b2a01e9-1440x800.svg')] bg-cover bg-center text-black font-mono"
  >
    <div class="w-1/2 flex justify-center flex-col subtitle">
      <h1 class="text-5xl text-white">Ismael</h1>
      <h1 class="text-7xl text-blue-800">Simbaña</h1>
      <h1 class="text-5xl text-white">
        Ingeniero <span class="text-blue-800"> de</span>
        <div class="flex items-center">
          <span>S</span>
          <span>o</span>
          <span>f</span>
          <span>t</span>
          <span>w</span>
          <span>a</span>
          <span>r</span>
          <span>e</span>
        </div>
      </h1>
      <ul
        class="flex flex-row max-sm:flex-col max-sm:justify-center max-sm:items-center my-10 uppercase rounded-lg text-white text-center"
      >
        <li
          class="w-[150px] hover:motion-safe:animate-ping border-blue-800 border-2 p-2 hover:text-white"
        >
          <a href="#sobre-mi">Sobre Mi</a>
        </li>
        <li
          class="w-[150px] hover:motion-safe:animate-ping border-blue-800 border-2 p-2 hover:text-white"
        >
          <a href="#habilidades">Habilidades</a>
        </li>
        <li
          class="w-[150px] hover:motion-safe:animate-ping border-blue-800 border-2 p-2 hover:text-white"
        >
          <a href="#proyectos">Proyectos</a>
        </li>
      </ul>
    </div>
    <div class="">
      <img src="./mmm.png" alt="" srcset="" />
    </div>
  </div>
</section>

<style>
  span {
    animation: jump 1s infinite;
    transform: translateY(0);
  }

  @keyframes jump {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  span:nth-child(1) {
    animation-delay: 0.1s;
  }
  span:nth-child(2) {
    animation-delay: 0.2s;
  }
  span:nth-child(3) {
    animation-delay: 0.3s;
  }
  span:nth-child(4) {
    animation-delay: 0.4s;
  }
  span:nth-child(5) {
    animation-delay: 0.5s;
  }
  span:nth-child(6) {
    animation-delay: 0.6s;
  }
  span:nth-child(7) {
    animation-delay: 0.7s;
  }
  span:nth-child(8) {
    animation-delay: 0.8s;
  }
  span:nth-child(9) {
    animation-delay: 0.9s;
  }
  span:nth-child(10) {
    animation-delay: 1s;
  }
</style>
